@media screen and (max-width: 500px) {
    .logo img{
        width: 130px;
        margin-top:20px;
    }
    .user-menu{
        width: 200px;
        height: 60px;
        position: absolute;
        right: 0;
    }
    
    .user-menu ul li{
        width: 90px;
        font-size: 12px;
    }
    
    .search-area{
        width: 360px !important;
        margin-left: -14px;
        margin-top: 10px;
    }
    
    .search_box{
        width: 360px !important;
    }
    .search_btn{
        margin-left:-43px;
    }
    
    .slider-area{
        float: left;
        height: 250px;
        margin-top:-10px;
    }
    .slider-area .slider img{
        height: 250px;
    }
    .slider-content{
        width: 300px;
        top:130px;
        left: 50px;
    }
    .slider-content h3{
        font-size: 15px;
    }
    
    .product-section{
        float: left;
    }
    
    .product-card{
        margin:10px 30px;
    }

    .product-custom-row{
        padding: 30px 0 !important;
    }

    .product-detail-price .selling-price{
        font-size: 25px;
    }
    .product-detail-price .regular-price{
        font-size: 20px;
    }

    .product-add-cart-btn{
        margin-top: 20px;
        width: 100%;
    }

    .product-detail-short-description p,
    .product-detail-long-description
    {
        font-size: 14px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}