* {
    margin: 0;
    padding: 0;
}
body{
    background: silver;
}
.navigation-bar {
    width: 100%;
    height: 70px;
    background: #4c4c4c;
}

.logo {
    width: 180px;
    float: left;
}

.logo img {
    width: 200px;
    margin-top: 10px;
}

.search-area {
    width: 550px;
    height: 70px;
    float: left;
    margin-left: 50px;
}

.search_box {
    width: 500px;
    padding: 10px;
    margin-top: 10px;
    float: left;
}

.search_btn {
    float: left;
    margin-top: 10px;
    padding: 12px;
    border-radius: 0;
}
.user-menu{
    width: 300px;
    height: 60px;
    float: right;
}
.user-menu ul {
    float: right;
}
.user-menu ul li{
    list-style: none;
    float: left;
    width: 125px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.user-menu li:hover{
    background: #14ba15;
}
.user-menu ul li a{
    text-decoration: none;
    color: white;
    display: block;
}
.user-menu button{
    color: #fff;
    height: 40px;
    line-height: 30px;
}
/*this is for slider area */
.slider-area{
    width:100%;
    height: 500px;
}
.slider-area .slider img{
    width: 100%;
    height: 500px;
}
.bx-wrapper{
    border: none !important;
}
.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager{
    bottom: 30px !important;
}
/* this is for slider content */
.slider-content{
    position: absolute;
    top: 150px;
    left: 100px;
    width: 600px;
}
.product-section{
    width: 100%;
    background: #fff;
    padding: 50px 10px;
    margin: 15px 0;
}
.section-heading{
    width: 100%;
    height: 40px;
}
.section-heading .heading{
    font-weight: 400;
    border-bottom: 2px solid;
    padding-bottom: 7px;
    display: inline-block;
}
.section-product-cards{
    width: 100%;
    margin-top: 30px;
}
/** this is for every single product box */
.product-card{
    width: 250px;
    height: 400px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
    margin: 10px 20px;
}
.product-card .product-image {
    height: 300px;
    padding: 25px 5px;
    background-color: #f1f1f1;
}
.product-card .product-image img{
    object-fit: cover;
    mix-blend-mode: multiply;
}
.card-contents{
    position: absolute;
    background: rgba(0,0,0,0.3);
    top: -400px;
    left: 0;
    width: 100%;
    height: 300px;
    visibility: hidden;
    transition: .2s all ease-in-out;
}
.product-card:hover .card-contents{
    visibility: visible;
    top: 0;
}
.cart-btn{
    margin: 130px 100px;
}
.product-details{
    padding: 10px;
}
.product-name{
    font-weight: 400;
    color: #575252;
}
.product-price{
    font-weight: bold;
    font-size: 17px;
}
.product-price span{
    margin-left:20px;
}

.section-product-cards
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{
    width: 50px;
    height: 50px;
    text-align: center;
    background: greenyellow;
    color: #fff;
    line-height: 40px;
    position: absolute;
    outline: none;
    
}
.section-product-cards
.owl-carousel .owl-nav button.owl-next{
    right: 0;
    top: 150px;
}

.section-product-cards
.owl-carousel .owl-nav button.owl-prev{
    left: 0px;
    top: 150px;
}
.product-detail-title h1{
    font-size: 35px;
    font-weight: bold;
}
.product-detail-short-description p{
    font-weight: 700;
    margin-bottom: 20px;
}
.product-detail-price{
    margin-top: 35px;
}
.product-detail-price .selling-price{
    font-size: 45px;
    font-weight: bold;
}
.product-detail-price .regular-price{
    font-size: 30px;
    font-weight: bold;
}
.product-custom-row{
    padding: 100px 0 !important;
}

.login-card{
    width: 400px;
    margin:0 auto !important;
}
.login-area{
    height: 700px !important;
}